#container {
  width: 1080px;
  margin: 0 auto;
  background-color: #fafafa;
}

#top-bar {
  background-color: #fafafa;
  border-bottom: 1px solid #6e6e6e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  height: 25px;
}

#lang > h1::after {
  content: url("https://api.iconify.design/icons8:sort-down.svg");
  cursor: pointer;
}

/* For Search Input Box  */

.search-input {
  padding: 6px;
  font-size: 17px;
  border-width: 0px;
  border-color: #cccccc;
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-radius: 3px;
  box-shadow: 0px 0px 3px rgba(66, 66, 66, 0.6);
  text-shadow: 0px 0px 5px rgba(66, 66, 66, 0);
}
.search-input:focus {
  outline: none;
}

/*End For Search Input Box  */

/* For Search Btn  */

.serach-btn {
  padding: 9px 5px;
  width: 54px;
  border: none;
  border-radius: 5px;
  background-color: #bdbdbd;
  color: #fff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.serach-btn:hover {
  background: #909699;
  text-decoration: none;
}

/*End For Search Btn  */

/* Header  */

header {
  position: relative;
  height: 100px;
}

#user-info {
  display: flex;
  align-items: center;
}

#user-tools {
  position: absolute;
  bottom: 0;
  right: 10%;
  background-color: rgb(107, 197, 107);
  color: #fff;
  padding: 6px 60px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
}

.userInfo > h1 {
  font-weight: bold;
  font-size: 20px;
}

#user-tools::after {
  content: url("https://api.iconify.design/fa-solid:tools.svg");
  margin-left: 10px;
  cursor: pointer;
}

/*End Header  */

/* Nav  */
nav {
  display: flex;
  background-color: #9e9e9e;
}

.nav-link {
  padding: 10px 35px;
  transition: 0.3s ease all;
}

.nav-link > a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-link:hover {
  background-color: #000;
  color: #fff;
}

.selected {
  background-color: #000;
  color: #fff;
}
/*End Nav  */

/* Slider  */
#slider-container {
  padding: 4px;
  position: relative;
}

#slider-container > img {
  display: flex;
  margin: 0 auto;
  border-radius: 10px;
}

.slider-controller {
  position: absolute;
  top: 40%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.left-btn {
  content: url("https://api.iconify.design/ic:baseline-arrow-back-ios.svg");
  width: 50px;
  cursor: pointer;
}

.right-btn {
  content: url("https://api.iconify.design/ic:baseline-arrow-forward-ios.svg");
  width: 50px;
  cursor: pointer;
}

.slider-info {
  width: 500px;
  position: absolute;
  background-color: #0606064b;
  color: #fff;
  padding: 5px 10px;
  border-radius: 7px;
  backdrop-filter: blur(10px);
  top: 60%;
  left: 15%;
}

.slider-info > p {
  font-size: 18px;
  margin-bottom: 10px;
}

.slide-more-btn {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background: linear-gradient(to bottom, #254154 5%, #254154 100%);
  background-color: #254154;
  border-radius: 6px;
  border: 1px solid #254154;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 5px 20px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #5b6178;
}
.slide-more-btn:hover {
  background: linear-gradient(to bottom, #3e6884 5%, #2f5269 100%);
  background-color: #019ad2;
}
.myButton:active {
  position: relative;
  top: 1px;
}
/* End Slider  */

/* Service  */

#service-container {
  width: 1050px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.service-box {
  width: 270px;
  height: 220px;
}

.service-box {
  display: flex;
  align-items: flex-end;
  color: #fff;
}

.service-box > div {
  background-color: #00000056;
  padding: 5px;
  backdrop-filter: blur(5px);
}

.service_1 {
  background-image: url("./images/img_1.jpg");
  background-size: cover;
}

.service_2 {
  background-image: url("./images/img_2.jpg");
  background-size: cover;
}

.service_3 {
  background-image: url("./images/img_3.jpg");
  background-size: cover;
}

/* End Services  */

/* Segment Watch  */

.segment-title {
  margin: 30px 0 10px 0;
  font-family: sans-serif;
  text-align: center;
}

.segment-title > h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}

#left-right-segment-watch-container {
  display: flex;
  font-family: sans-serif;
  height: 320px;
}

#left-segment {
  width: 70%;
  background-color: #e0e0e0;
  display: flex;
  align-items: flex-end;
}

#left-segment > div {
  width: 60%;
  padding: 20px;
}

#left-segment > div > h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

#left-segment > div > button {
  background-color: red;
  margin-top: 10px;
  background-color: rgb(40, 33, 88);
  color: #fff;
  border: none;
  outline: none;
  padding: 5px 15px;
  border-radius: 8px;
  cursor: pointer;
}

#left-segment > div > button:hover {
  background-color: rgba(40, 33, 88, 0.425);
}

#right-segment {
  width: 30%;
}

.steps {
  display: flex;
  align-items: center;
}

.steps > div > h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.steps > div {
  padding: 20px;
}

.step_1 {
  height: 33.3%;
  background-color: #424242;
  position: relative;
}

.step_1:before {
  content: " ";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid #424242;
  border-bottom: 10px solid transparent;
  position: absolute;
  right: 100%;
}

.step_2 {
  background-color: #616161;
  height: 33.3%;
}

.step_3 {
  background-color: #9e9e9e;
  height: 33.3%;
}

/*End Segment Watch  */

/* footer  */

#employee-voice-container {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

#employee-voice-container > h1 {
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: bold;
}

#employee-voice-container > input {
  width: 600px;
  height: 20px;
  padding: 10px;
  font-size: 18px;
  margin-left: 20px;
  background-color: #eeeeee;
  border: none;
  outline: none;
}

#employee-voice-container > button {
  height: 35px;
  font-size: 10px;
  width: 100px;
  outline: none;
  color: #fff;
  background-color: #424242;
  transition: 0.2s ease all;
}

#employee-voice-container > button:hover {
  background-color: #616161;
}

#employee-voice-container > div {
  width: 600px;
  margin: 0 auto;
  margin-top: 10px;
}

/* end footer  */
