#container {
  width: 1080px;
  margin: 0 auto;
}

#top-bar {
  background-color: #fafafa;
  border-bottom: 1px solid #6e6e6e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  height: 25px;
}

#lang > h1::after {
  content: url("https://api.iconify.design/icons8:sort-down.svg");
  cursor: pointer;
}

/* For Search Input Box  */

.search-input {
  padding: 6px;
  font-size: 17px;
  border-width: 0px;
  border-color: #cccccc;
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-radius: 3px;
  box-shadow: 0px 0px 3px rgba(66, 66, 66, 0.6);
  text-shadow: 0px 0px 5px rgba(66, 66, 66, 0);
}
.search-input:focus {
  outline: none;
}

/*End For Search Input Box  */

/* For Search Btn  */

.serach-btn {
  padding: 9px 5px;
  width: 54px;
  border: none;
  border-radius: 5px;
  background-color: #bdbdbd;
  color: #fff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.serach-btn:hover {
  background: #909699;
  text-decoration: none;
}

/*End For Search Btn  */
